#banner {
    background-color: var(--black);

    .banner_content {
        color: var(--white);
        // background-color: rgb(194, 25, 25);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding: 150px 0px;

        @include xs() {
            grid-template-columns: 1fr;
            gap: 250px;
            padding: 100px 0px;
        }

        @include sm() {
            grid-template-columns: 1fr;
            gap: 250px;
            padding: 100px 0px;
        }

        @include md() {
            grid-template-columns: 1fr;
            gap: 250px;
            padding: 100px 0px;
        }

        .left {

            // border: var(--border);
        
            @include custom_media(0px, 991.9px) {
                text-align: center;
            }

            .common_heading {
                // border: var(--border);

                h2 {
                    font-size: 90px;
                    line-height: 120px;

                    @include custom_media(0px, 991.9px) {
                        font-size: 38px;
                        line-height: 48px;
                        // margin-top: 15px;
                        letter-spacing: unset;
                    }
                }

                p {
                    // margin-top: 24px;
                    line-height: 36px;
                    text-transform: capitalize;

                    @include custom_media(0px, 991.9px) {
                        // line-height: 0;
                        font-size: 18px;
                        letter-spacing: 0;
                        font-weight: 400;
                        letter-spacing: unset;
                    }
                }

            }

            .links {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: 60px;

                @include custom_media(0px, 991.9px) {
                    justify-content: center;
                }

                .button {
                    padding: 15px 42px;
                    background: #fd562a;
                    border-radius: 5px;
                    text-transform: uppercase;

                    &:hover {
                        background-color: red;
                        transition-duration: 0.3s;
                    }

                    // border: var(--border);
                    a {

                        color: var(--white);
                    }
                }

                ul {
                    // border: var(--border);
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    align-items: center;


                    li {
                        a {
                            i {
                                color: var(--white);
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                text-align: center;
                                line-height: 25px;

                            }

                            &:hover {
                                color: #fd562a;
                            }
                        }
                    }
                }
            }
        }

        .right {

            @include xs() {
                text-align: center;
            }

            @include sm() {
                text-align: center;
            }

            @include md() {
                text-align: center;
            }

            .img {
                width: 100%;

                img {
                    height: 100%;
                    // border: var(--border);
                    border-radius: 20%;
                    background-color: rgb(0, 125, 234);
                    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
                }
            }
        }
    }
}