.banner_content {
   background-image: url(../assets/images/hero-bg.jpg);
    color: var(--white);
    // background-color: rgb(194, 25, 25);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0px;
    gap: 80px;

    @include xs() {
        grid-template-columns: 1fr;
        gap: 250px;
        margin: 50px 0px;
    }

    @include sm() {
        grid-template-columns: 1fr;
        gap: 250px;
        margin: 50px 0px;
    }

    @include md() {
        grid-template-columns: 1fr;
        gap: 250px;
        margin: 50px;
    }

    .left {

        // border: var(--border);
        @include xs() {
            text-align: center;
        }

        @include sm() {
            text-align: center;
        }

        @include md() {
            text-align: center;
        }

        .common_heading {
            // border: var(--border);

            h2 {
                font-size: 90px;
                line-height: 120px;

                @include custom_media(0px, 991.9px) {
                    font-size: 60px;
                    line-height: 70px;
                    margin-top: 15px;
                }
            }

            p {
                margin-top: 24px;
                line-height: 36px;

                @include custom_media(0px, 991.9px) {
                    line-height: 0;
                }
            }

        }

        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-top: 60px;

            @include xs() {
                justify-content: center;
            }

            @include sm() {
                justify-content: center;
            }

            @include md() {
                justify-content: center;
            }

            .button {
                padding: 15px 42px;
                background: #fd562a;
                border-radius: 5px;
                text-transform: uppercase;

                &:hover {
                    background-color: red;
                    transition-duration: 0.3s;
                }

                // border: var(--border);
                a {

                    color: var(--white);
                }
            }

            ul {
                // border: var(--border);
                display: flex;
                flex-wrap: wrap;
                align-items: center;


                li {
                    a {
                        width: 20px;
                    }
                }
            }
        }
    }

    .right {
        // &:hover {
        //   transform: rotate(180deg);
        // }

        // border: var(--border);
        @include xs() {
            text-align: center;
        }

        @include sm() {
            text-align: center;
        }

        @include md() {
            text-align: center;
        }

        .img {
            width: 100%;

            img {
                height: 100%;
                // border: var(--border);
                border-radius: 20%;
                background-color: rgb(0, 125, 234);
                box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
            }
        }
    }
}