#intro {

    // border: var(--border);
    .intro_section {
        .common_heading {
            margin-top: 120px;

            h2 {
                line-height: 1;
                font-size: 24px;
                text-transform: uppercase;
                margin-bottom: 24px;
                text-align: center;

            }

            p {
                color: #948daa;
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                text-align: center;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 72px;
                text-transform: capitalize;
            }
        }

        .item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 100px;
            gap: 20px;
            position: relative;

            @include custom_media(0px, 991.9px) {
                display: flex;
                flex-wrap: wrap;
            }

            .item1 {
                border: var(--border);
                padding: 48px;
                border-radius: 12px;
                background: var(--white);
                font-family: var(--Poppins);
                height: 100%;
                width: 100%;
z-index: 99;
                h2 {}

                p {
                    font-size: 16px;
                    line-height: 28px;
                    color: #948daa;
                    margin-top: 30px;
                    text-transform: capitalize;
                }


            }

            .css {
                background-color: red;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: 431px;

                &:hover {
                    background-color: black;
                    border: 1px solid var(--red);
                    transform: rotate(7deg);
                    
                }
            }
        }
    }
}