#intro {

    // border: var(--border);
    .intro_section {
        padding-top: 120px;

        @include custom_media(0px, 991.9px) {
            padding-top: 80PX;
        }

        .item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 100px;
            gap: 20px;
            position: relative;

            @include custom_media(0px, 991.9px) {
                display: flex;
                flex-wrap: wrap;
            }

            .item1 {
                border: 1px solid #e0e0e0;
                padding: 48px;
                border-radius: 12px;
                background: var(--white);
                font-family: var(--Poppins);
                height: 100%;
                width: 100%;
                position: relative;
                transition-duration: .3s;

                &:hover {
                    -webkit-box-shadow: -2px 0px 30px 5px rgba(46, 36, 36, 1);
                    -moz-box-shadow: -2px 0px 30px 5px rgba(46, 36, 36, 1);
                    box-shadow: -2px 0px 30px 5px rgba(46, 36, 36, 1);
                }

                //                 .bg3d {
                //                     background: #7e3e3e;
                //                     height: 100%;
                //                     position: absolute;
                //                     width: 100%;
                //                     top: 0;
                //                     right: 0;
                // opacity: 0;
                //                     /* z-index: 0; */
                //                     &:hover {
                //                         opacity: 1;
                //                         rotate: 9deg;
                //                     }
                //                 }

                @include xs {
                    padding: 30px;
                }

                @include lg {
                    padding: 41px;
                }

                h2 {
                    @include xs {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 28px;
                    color: #948daa;
                    margin-top: 30px;
                    text-transform: capitalize;

                    @include xs {
                        margin-top: 20px;
                        font-size: 14px;
                    }
                }


            }

            .css {
                background-color: red;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: 431px;

                &:hover {
                    background-color: black;
                    border: 1px solid var(--red);
                    transform: rotate(7deg);

                }
            }
        }
    }
}