#partner_section {
    background: #333;
    margin-bottom: 80px;
    margin-top: 80px;

    .brand_list {
        margin-bottom: 48px;

    }

    .brand_logos {
        display: flex;
        gap: 25px;
        padding: 60px 0px;

        .img {
            display: flex;
            justify-content: center;

            img {
                object-fit: contain;
                height: 30px;
                max-width: 100%;
            }
        }
    }
}

// .brand_list{
//     margin-bottom: 48px;
//     .brand_logos{
//         // border: var(--border);
//         display: flex;
//         gap: 25px;
//         padding: 60px 0px;
//         @include xs{
//             padding: 20px 0px;
//             gap: 0;
//         }
//         .img{
//           display: flex;
//           justify-content: center;
//             img{
//                 object-fit: contain;
//                 height: 30px;
//                 width: unset;
//                 max-width: 100%;
//             }
//         }
//     }