#portfolio_section {
    // width: 100vw;
    // position: fixed;
    // opacity: 0;
    // visibility: hidden;
    // top: 103px;
    // transition-duration: .3s;
    // transform: scale(0);
    display: none;
    &.active {
        // display: block;
        // opacity: 1;
        // visibility: visible;
        // transform: scale(1);
        // z-index: 99;
    }
    .portfolio_section_content {
        padding: 100px 0px;

        .skill {
            margin-bottom: 48px;

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;

                li {
                    border: 1px solid #e0e0e0;
                    padding: 6px 12px;
                    border-radius: 4px;

                    &:hover {
                        border: 1px solid var(--red);
                    }

                    a {
                        font-size: 16px;
                        line-height: 18px;

                    }
                }
            }
        }

        .images_part {
            // border: var(--border);b 
            gap: 20px;
            display: flex;
 
            .images_items {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            }
        }
    }
}