#skill_section {
    // border: var(--border);
    background-image: url(../images/skill_section_images/skill-bg.jpg);
    background-size: cover;

    .skill_section_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        color: var(--white);
        align-items: center;
        padding: 70px 0px;

        @include custom_media(0px, 991.9px) {
            grid-template-columns: 1fr;
        }

        .left {

            h2 {
                line-height: normal;

                span {
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #fd562a;
                    text-align: start;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            p {
                margin-top: 20px;
                color: #bdb9cb;
            }
        }

        .right {

            .content {
                margin-top: 20px;

                .heading {
                    display: flex;
                    flex-wrap: wrap;
                    // border: var(--border);
                    justify-content: space-between;

                    h4 {
                        font-family: var(--poppins);
                    }

                    p {}
                }

                .progress {
                    background: var(--white);
                    margin-top: 5px;

                    .progress_bar {
                        background: var(--brand);
                        height: 10px;
                    }
                }
            }
        }
    }
}