.footer_section {
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url(../images/footer_img/footer-bg.jpg);

    .footer_content {


        .content {
            text-align: center;
            width: 50%;
            margin: auto;

            a {
                margin-bottom: 36px;
                display: inline-block;
                color: var(--brand);

                img {
                    width: 148px;
                }
            }

            p {
                color: #b0aac0;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 18px;

            }

            .social_link {
                margin-top: 48px;
                margin-bottom: 10px;

                ul {
                    display: flex;
                    justify-content: center;
                    gap: 24px;

                    li {
                        a {
                            font-size: 24px;

                            i {
                                color: var(--white);
                            }
                        }

                    }
                }
            }
        }

        .bottom {
            color: var(--white);
            display: flex;
            justify-content: space-between;
            margin-top: 78px;

            a {
                color: var(--white);
            }
        }
    }
}