header {
    // border: var(--border);
    background-image: url(../assets/images/hero-bg.jpg);

    .header_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;

        .logo {
            border: 3px solid red;
            width: 70px;
            height: 70px;
            background-color: rgba(255, 0, 0, 0.568);
            border-radius: 50%;

            p {
                color: white;
                font-weight: 700;
                text-transform: uppercase;
                font-family: var(--Poppins);
                position: relative;
                top: 13px;
                left: 14px;
            }
        }

        .right_content {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .nav {
                // border: var(--border);
                flex: 1;
                display: grid;
                align-items: center;
            }

            .extra_links {
                display: flex;
                gap: 10px;

                .search {
                    // border: var(--border);

                    a {
                        padding-top: 6px;
                        color: var(--white);
                    }
                }

                .nav_control {
                    // border: var(--border);
                    // display: grid; 
                    align-items: center;
                    display: none;

                    a {
                        line-height: 10px;

                        span {
                            color: var(--white);
                        }

                        &:hover {
                            background-color: #fd562a;
                            color: var(--white);
                            border-radius: 4px;
                            padding: 5px 10px;
                        }
                    }
                }
            }

            @include custom_media(0px, 991.9px) {
                justify-content: flex-end;

                .nav {
                    order: 2;
                    flex: unset;

                    ul {
                        li {
                            &.close_nav {
                                display: block;
                            }
                        }
                    }
                }

                .extra_links {
                    order: 1;
                    gap: 10px;

                    .nav_control {
                        display: grid;
                    }
                }
            }
        }
    }
}