header {
    // border: var(--border);
    // background-image: url(../assets/images/hero-bg.jpg);
    background-color: var(--black);
    .header_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;

        .logo {
            height: 50px;
    width: 50px;
         .images{
            height: 100%;
            width: 100%;
            border: 1px solid var(--white);
            border-radius: 50%;
            img{
                width: 100%;
            }
         }
        }

        .right_content {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .nav {
                // border: var(--border);
                flex: 1;
                display: grid;
                align-items: center;
            }

            .extra_links {
                display: flex;
                gap: 10px;

                .search {
                    // border: var(--border);

                    a {
                        padding-top: 6px;
                        color: var(--white);
                    }
                }

                .nav_control {
                    // border: var(--border);
                    display: grid; 
                    align-items: center;
                    display: none;
                    border: 1px solid #8b7c7c;
                    width: 30px;
                    height: 30px;
                    // align-items: center;
                    text-align: center;
                    a {
                        line-height: 10px;
                       
                        span {
                            color: var(--white);
                        }

                        &:hover {
                            font-weight: 700;
                            color: var(--white);
                            border-radius: 4px;
                           color: var(--brand_deep);
                           transition-duration: 0.5s;
                        }
                    }
                }
            }

            @include custom_media(0px, 991.9px) {
                justify-content: flex-end;

                .nav {
                    order: 2;
                    flex: unset;

                    ul {
                        li {
                            &.close_nav {
                                display: block;
                            }
                        }
                    }
                }

                .extra_links {
                    order: 1;
                    gap: 10px;

                    .nav_control {
                        display: grid;
                    }
                }
            }
        }
    }
}