header {
    // border: var(--border);
    background-image:  url(../images/background-images/1.jpg);
    background-size: cover;

    .header_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;

        .logo {
            height: 50px;
            width: 50px;

            .images {
                height: 100%;
                width: 100%;
                border: 1px solid var(--white);
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }
        }

        .right_content {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .nav {
                // border: var(--border);
                flex: 1;
                display: grid;
                align-items: center;
            }

            .extra_links {
                display: flex;
                gap: 10px;

                .search {
                    // border: var(--border);

                    a {
                        padding-top: 6px;
                        color: var(--white);
                    }
                }

                .nav_control {
                    // border: var(--border);
                    display: grid;
                    align-items: center;
                    display: none;
                    border: 1px solid #8b7c7c;
                    width: 30px;
                    height: 30px;
                    // align-items: center;
                    text-align: center;

                    a {
                        line-height: 10px;

                        span {
                            color: var(--white);
                        }

                        &:hover {
                            font-weight: 700;
                            color: var(--white);
                            border-radius: 4px;
                           background-color: var(--brand_deep);
                            transition-duration: 0.5s;
                        }
                    }
                }
            }

            @include custom_media(0px, 991.9px) {
                justify-content: flex-end;

                .nav {
                    order: 2;
                    flex: unset;

                    ul {
                        li {
                            &.close_nav {
                                display: block;
                            }
                        }
                    }
                }

                .extra_links {
                    order: 1;
                    gap: 10px;

                    .nav_control {
                        display: grid;
                    }
                }
            }
        }
    }

    // .sidebar {
    //     height: 100%;
    //     width: 0;
    //     position: fixed;
    //     z-index: 1;
    //     top: 0;
    //    right: 0;
    //     background-color: #000000;
    //     overflow-x: hidden;
    //     transition: 0.5s;
    //     padding-top: 60px;
    //   }
      
    //   .sidebar a {
    //     padding: 8px 8px 8px 32px;
    //     text-decoration: none;
    //     font-size: 25px;
    //     color: #818181;
    //     display: block;
    //     transition: 0.3s;
    //   }
      
    //   .sidebar a:hover {
    //     color: #f1f1f1;
    //   }
      
    //   .sidebar .closebtn {
    //     position: absolute;
    //     top: 20;
    //     right: 25px;
    //     font-size: 36px;
    //     margin-left: 50px;
    //   }
      
    //   .openbtn {
    //     font-size: 20px;
    //     cursor: pointer;
    //     background-color: #11111121;
    //     color: white;
    //     padding: 10px 15px;
    //     border: none;
    //     transition-duration: .3s;
    //   }
      
    //   .openbtn:hover {
    //     background-color: #ffffff;
    //     color: rgb(0, 0, 0);
    //   }
      
    //   #main {
    //     transition: margin-left .5s;
    //     padding: 16px;
    //   }

}