

.CV {
    margin-top: 30px;
    padding: 15px 42px;
    background: var(--brand);
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    transition-duration: .3s;

    a {
        color: var(--white);
        text-align: center;
    }

    &:hover {
        background-color: #cf5432;
    }
}