h2 {
    font-family: var(--Poppins);
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.320px;
    text-transform: uppercase;
}

p {
    color: var(--gray);
    font-family: var(--Poppins);
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    letter-spacing: 0.5px;
}
