// .common_heading {
//     font-family: var(--Poppins);

//     h2 {

//         font-size: 48px;
//         line-height: 58px;
//         letter-spacing: 0.320px;
//         text-transform: capitalize;
//     }

//     p {
//         color: var(--gray);
//         font-size: 20px;
//         line-height: 40px;
//         font-style: normal;
//         letter-spacing: 0.5px;
//         text-transform: capitalize;
//     }
// }
.tittle {
    // border: var(--border);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;

    h2 {
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 24px;
    }

    p {
        font-weight: 300;
        color: #948daa;
        margin-bottom: 0;
        font-size: 1.25rem;
    }
}