body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: left;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

:root {
  --border: 1px solid red;
  --black: rgb(0, 0, 0);
  --red: red;
  --white: #fff;
  --brand_light: #0F6E8C;
  --brand_deep: #05546D;
  --black_light: #2d2f30;
  --brand_deep: #fd562a;
  --white: #fff;
  --sans_sarif: "Inter", sans-serif;
  --Playfair: "Playfair Display", serif;
  --Plus_Jakarta_Sans: "Plus Jakarta Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
}

.common_heading {
  font-family: var(--Poppins);
}
.common_heading h2 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.common_heading p {
  color: var(--gray);
  font-size: 20px;
  line-height: 40px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.container {
  width: 1400px;
  border: var(--border);
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

header {
  background-color: var(--black);
}
header .header_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
header .header_body .logo {
  height: 50px;
  width: 50px;
}
header .header_body .logo .images {
  height: 100%;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 50%;
}
header .header_body .logo .images img {
  width: 100%;
}
header .header_body .right_content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
header .header_body .right_content .nav {
  flex: 1;
  display: grid;
  align-items: center;
}
header .header_body .right_content .extra_links {
  display: flex;
  gap: 10px;
}
header .header_body .right_content .extra_links .search a {
  padding-top: 6px;
  color: var(--white);
}
header .header_body .right_content .extra_links .nav_control {
  display: grid;
  align-items: center;
  display: none;
  border: 1px solid #8b7c7c;
  width: 30px;
  height: 30px;
  text-align: center;
}
header .header_body .right_content .extra_links .nav_control a {
  line-height: 10px;
}
header .header_body .right_content .extra_links .nav_control a span {
  color: var(--white);
}
header .header_body .right_content .extra_links .nav_control a:hover {
  font-weight: 700;
  color: var(--white);
  border-radius: 4px;
  color: var(--brand_deep);
  transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  header .header_body .right_content {
    justify-content: flex-end;
  }
  header .header_body .right_content .nav {
    order: 2;
    flex: unset;
  }
  header .header_body .right_content .nav ul li.close_nav {
    display: block;
  }
  header .header_body .right_content .extra_links {
    order: 1;
    gap: 10px;
  }
  header .header_body .right_content .extra_links .nav_control {
    display: grid;
  }
}

nav ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li.close_nav {
  display: none;
}
nav ul li.close_nav {
  text-align: right;
}
nav ul li.close_nav a span {
  margin-right: 21px;
  font-size: 35px;
}
nav ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--Poppins);
}
nav ul li a.active, nav ul li a:hover {
  font-weight: 700;
  border-radius: 4px;
  color: var(--brand_deep);
  transition-duration: 0.5s;
}

@media (min-width: 0px) and (max-width: 999.9px) {
  nav {
    position: relative;
  }
  nav ul {
    display: none;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    min-width: 150px;
    top: 0;
    padding: 30px 0px;
    right: 0;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.0509803922);
    z-index: 9;
    background-color: rgba(0, 178, 233, 0.7921568627);
  }
  nav ul.active {
    display: block;
  }
  nav ul li {
    list-style-type: disc;
    margin-bottom: 30px;
  }
  nav ul a {
    font-size: 17px;
  }
}
#banner {
  background-color: var(--black);
}
#banner .banner_content {
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 150px 0px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    gap: 250px;
    padding: 100px 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    gap: 250px;
    padding: 100px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    gap: 250px;
    padding: 100px 0px;
  }
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #banner .banner_content .left {
    text-align: center;
  }
}
#banner .banner_content .left .common_heading h2 {
  font-size: 90px;
  line-height: 120px;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #banner .banner_content .left .common_heading h2 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: unset;
  }
}
#banner .banner_content .left .common_heading p {
  line-height: 36px;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #banner .banner_content .left .common_heading p {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400;
    letter-spacing: unset;
  }
}
#banner .banner_content .left .links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #banner .banner_content .left .links {
    justify-content: center;
  }
}
#banner .banner_content .left .links .button {
  padding: 15px 42px;
  background: #fd562a;
  border-radius: 5px;
  text-transform: uppercase;
}
#banner .banner_content .left .links .button:hover {
  background-color: red;
  transition-duration: 0.3s;
}
#banner .banner_content .left .links .button a {
  color: var(--white);
}
#banner .banner_content .left .links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
#banner .banner_content .left .links ul li a i {
  color: var(--white);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}
#banner .banner_content .left .links ul li a:hover {
  color: #fd562a;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .right {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .right {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .right {
    text-align: center;
  }
}
#banner .banner_content .right .img {
  width: 100%;
}
#banner .banner_content .right .img img {
  height: 100%;
  border-radius: 20%;
  background-color: rgb(0, 125, 234);
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}

#intro .intro_section .common_heading {
  margin-top: 120px;
}
#intro .intro_section .common_heading h2 {
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}
#intro .intro_section .common_heading p {
  color: #948daa;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}
#intro .intro_section .item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  gap: 20px;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #intro .intro_section .item {
    display: flex;
    flex-wrap: wrap;
  }
}
#intro .intro_section .item .item1 {
  border: var(--border);
  border: 1px solid #e0e0e0;
  padding: 48px;
  border-radius: 12px;
  background: var(--white);
  font-family: var(--Poppins);
  height: 100%;
  width: 100%;
}
#intro .intro_section .item .item1:hover {
  border: var(--border);
}
#intro .intro_section .item .item1 p {
  font-size: 1.25rem;
  color: #948daa;
  margin-top: 30px;
  text-transform: capitalize;
}

/*# sourceMappingURL=app.css.map */
