body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--black);
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: left;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

:root {
  --border: 1px solid red;
  --black: rgb(0, 0, 0);
  --red: red;
  --white: #fff;
  --brand_light: #0F6E8C;
  --brand_deep: #05546D;
  --black_light: #2d2f30;
  --black_deep: #242eba;
  --white: #fff;
  --sans_sarif: "Inter", sans-serif;
  --Playfair: "Playfair Display", serif;
  --Plus_Jakarta_Sans: "Plus Jakarta Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

.header_body {
  border: var(--border);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.header_body .logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: #e00707;
  color: var(--white);
}
.header_body .logo p {
  color: var(--white);
  text-transform: uppercase;
  font-family: --poppin_regular;
  font-weight: 600;
  position: relative;
  top: 16px;
  left: 16px;
}
.header_body .right_content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header_body .right_content .nav {
  flex: 1;
  display: grid;
  align-items: center;
}
.header_body .right_content .extra_links {
  display: flex;
  gap: 10px;
}
.header_body .right_content .extra_links .search a {
  color: var(--white);
  padding-top: 6px;
}
.header_body .right_content .extra_links .nav_control {
  display: grid;
  align-items: center;
  display: none;
}
.header_body .right_content .extra_links .nav_control a span {
  color: var(--white);
  padding-top: 6px;
}
.header_body .right_content .extra_links .nav_control a:hover {
  background-color: black;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  .header_body .right_content {
    justify-content: center;
  }
  .header_body .right_content .nav {
    order: 2;
    flex: unset;
  }
  .header_body .right_content .nav ul li.close_nav {
    display: block;
  }
  .header_body .right_content .extra_links {
    order: 1;
  }
  .header_body .right_content .extra_links .nav_control {
    display: grid;
  }
}

nav ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 55px;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li.close_nav {
  display: none;
}
nav ul li.close_nav {
  text-align: right;
}
nav ul li.close_nav a span {
  margin-right: 21px;
  font-size: 35px;
}
nav ul li a {
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--Poppins);
  color: var(--white);
  padding: 5px 10px;
}
nav ul li a.active, nav ul li a:hover {
  font-weight: 700;
  background-color: rgba(208, 255, 0, 0.648);
  color: var(--white);
  border-radius: 4px;
}

@media (min-width: 0px) and (max-width: 999.9px) {
  nav {
    position: relative;
  }
  nav ul {
    display: none;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    min-width: 150px;
    top: 0;
    padding: 30px 0px;
    right: 0;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    background-color: var(--white);
    z-index: 9;
    background-color: rgba(39, 29, 161, 0.6392156863);
  }
  nav ul.active {
    display: block;
  }
  nav ul li {
    list-style-type: disc;
    margin-bottom: 30px;
  }
  nav ul a {
    font-size: 17px;
    color: var(--black);
  }
}

/*# sourceMappingURL=app.css.map */
