.contact_section {
    margin-bottom: 60px;

    .address {
        .address_section {
            display: flex;
            justify-content: space-between;

            .content {
                display: flex;
                gap: 20px;
                align-items: center;
                margin-bottom: 40px;

                .icon {
                    width: 60px;
                    height: 60px;
                    background-color: var(--brand);
                    text-align: center;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 24px;
                        color: var(--white);
                    }
                }

                .location {
                    h4 {
                        font-weight: 600;
                    }

                    p {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-bottom: 60px;

        .map {
            height: 100%;
            width: 100%;
        }

        .form {
            h2 {
                font-size: 36px;
                line-height: 46px;
                margin-bottom: 30px;
                font-weight: 600;
                color: #222;
            }

            .info {
                display: flex;

                gap: 15px;
                margin-bottom: 15px;

                .col_a {
                    display: grid;
                    width: 50%;

                    input {
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        padding: 10px;
                        border: 0;
                        border: 1px solid #ced4da;
                        border-radius: 5px;
                    }
                }
            }

            .text {
                .form_control {
                    min-height: 183px;
                    border: 0;
                    border: 1px solid #ced4da;
                    padding: 12px 18px;
                    border-radius: 4px;
                    width: 100%;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    display: block;
                }
            }
        }
    }
}